<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f0fa9f66-3f93-4175-8c31-9335c6fe5def" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="e99cb175-c91b-41aa-ad15-1e6311255e11">contentBase</Composition>
      <Composition Key="51ad2a13-767d-49ed-84f4-f1c0facce424">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b521dcec-f464-4931-8da2-bbf565038acc">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f0fa9f66-3f93-4175-8c31-9335c6fe5def" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>