<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5dec914f-ea30-4839-af36-6a6ee1e0354f" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="e99cb175-c91b-41aa-ad15-1e6311255e11">contentBase</Composition>
      <Composition Key="51ad2a13-767d-49ed-84f4-f1c0facce424">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a4086c5-aa54-4ce9-bd74-29e4d1ee46e0">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="989715aa-e6dc-49e6-8272-c88452cb6233" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d2462821-5816-4045-a9cb-efec4de2f49a</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>